<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>u1FA9D</key>
    <string>u1F_A_9D_.glif</string>
    <key>uni03BC</key>
    <string>uni03B_C_.glif</string>
    <key>uni0401</key>
    <string>uni0401.glif</string>
    <key>uni0402</key>
    <string>uni0402.glif</string>
    <key>uni0404</key>
    <string>uni0404.glif</string>
    <key>uni0417</key>
    <string>uni0417.glif</string>
    <key>uni0418</key>
    <string>uni0418.glif</string>
    <key>uni0431</key>
    <string>uni0431.glif</string>
    <key>uni0434</key>
    <string>uni0434.glif</string>
    <key>uni0437</key>
    <string>uni0437.glif</string>
    <key>uni0438</key>
    <string>uni0438.glif</string>
    <key>uni048E</key>
    <string>uni048E_.glif</string>
    <key>uni0490</key>
    <string>uni0490.glif</string>
    <key>uni0491</key>
    <string>uni0491.glif</string>
    <key>uni04B0</key>
    <string>uni04B_0.glif</string>
    <key>uni04B6</key>
    <string>uni04B_6.glif</string>
    <key>uni04C3</key>
    <string>uni04C_3.glif</string>
    <key>uni04FA</key>
    <string>uni04F_A_.glif</string>
    <key>uni20B1</key>
    <string>uni20B_1.glif</string>
  </dict>
</plist>
