<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aringacute</key>
    <string>A_ringacute.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>f_t</key>
    <string>f_t.glif</string>
    <key>f_y</key>
    <string>f_y.glif</string>
    <key>five.osf</key>
    <string>five.osf.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>t_t</key>
    <string>t_t.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uni03BC</key>
    <string>uni03B_C_.glif</string>
    <key>uni0402</key>
    <string>uni0402.glif</string>
    <key>uni0404</key>
    <string>uni0404.glif</string>
    <key>uni0413</key>
    <string>uni0413.glif</string>
    <key>uni0416</key>
    <string>uni0416.glif</string>
    <key>uni0418</key>
    <string>uni0418.glif</string>
    <key>uni042C</key>
    <string>uni042C_.glif</string>
    <key>uni042F</key>
    <string>uni042F_.glif</string>
    <key>uni0431</key>
    <string>uni0431.glif</string>
    <key>uni0432</key>
    <string>uni0432.glif</string>
    <key>uni0434</key>
    <string>uni0434.glif</string>
    <key>uni0436</key>
    <string>uni0436.glif</string>
    <key>uni044A</key>
    <string>uni044A_.glif</string>
    <key>uni0452</key>
    <string>uni0452.glif</string>
    <key>uni048F</key>
    <string>uni048F_.glif</string>
    <key>uni0490</key>
    <string>uni0490.glif</string>
    <key>uni0491</key>
    <string>uni0491.glif</string>
    <key>uni04AA</key>
    <string>uni04A_A_.glif</string>
    <key>uni04B9</key>
    <string>uni04B_9.glif</string>
    <key>uni04C3</key>
    <string>uni04C_3.glif</string>
    <key>uni04FA</key>
    <string>uni04F_A_.glif</string>
    <key>uni20BA</key>
    <string>uni20B_A_.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
