<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Aringacute</key>
    <string>A_ringacute.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>c_t</key>
    <string>c_t.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>f_f_y</key>
    <string>f_f_y.glif</string>
    <key>f_t</key>
    <string>f_t.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s_t</key>
    <string>s_t.glif</string>
    <key>t_t</key>
    <string>t_t.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>two.osf</key>
    <string>two.osf.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uni03BC</key>
    <string>uni03B_C_.glif</string>
    <key>uni0404</key>
    <string>uni0404.glif</string>
    <key>uni040B</key>
    <string>uni040B_.glif</string>
    <key>uni0413</key>
    <string>uni0413.glif</string>
    <key>uni0416</key>
    <string>uni0416.glif</string>
    <key>uni0417</key>
    <string>uni0417.glif</string>
    <key>uni042C</key>
    <string>uni042C_.glif</string>
    <key>uni042F</key>
    <string>uni042F_.glif</string>
    <key>uni0434</key>
    <string>uni0434.glif</string>
    <key>uni0436</key>
    <string>uni0436.glif</string>
    <key>uni0437</key>
    <string>uni0437.glif</string>
    <key>uni043A</key>
    <string>uni043A_.glif</string>
    <key>uni043B</key>
    <string>uni043B_.glif</string>
    <key>uni044C</key>
    <string>uni044C_.glif</string>
    <key>uni044D</key>
    <string>uni044D_.glif</string>
    <key>uni044F</key>
    <string>uni044F_.glif</string>
    <key>uni0452</key>
    <string>uni0452.glif</string>
    <key>uni0454</key>
    <string>uni0454.glif</string>
    <key>uni046A</key>
    <string>uni046A_.glif</string>
    <key>uni0474</key>
    <string>uni0474.glif</string>
    <key>uni0475</key>
    <string>uni0475.glif</string>
    <key>uni048F</key>
    <string>uni048F_.glif</string>
    <key>uni0490</key>
    <string>uni0490.glif</string>
    <key>uni0491</key>
    <string>uni0491.glif</string>
    <key>uni049E</key>
    <string>uni049E_.glif</string>
    <key>uni04A8</key>
    <string>uni04A_8.glif</string>
    <key>uni04AA</key>
    <string>uni04A_A_.glif</string>
    <key>uni04B6</key>
    <string>uni04B_6.glif</string>
    <key>uni04BA</key>
    <string>uni04B_A_.glif</string>
    <key>uni04C3</key>
    <string>uni04C_3.glif</string>
    <key>uni04D8</key>
    <string>uni04D_8.glif</string>
    <key>uni04E0</key>
    <string>uni04E_0.glif</string>
    <key>uni04FA</key>
    <string>uni04F_A_.glif</string>
    <key>uni2070</key>
    <string>uni2070.glif</string>
    <key>uni2075</key>
    <string>uni2075.glif</string>
    <key>uni2116</key>
    <string>uni2116.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
  </dict>
</plist>
