<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>700</integer>
    <key>capHeight</key>
    <integer>690</integer>
    <key>copyright</key>
    <string>Copyright 2013 The Exo 2 Project Authors (https://github.com/NDISCOVER/Exo-2.0)</string>
    <key>descender</key>
    <integer>-201</integer>
    <key>familyName</key>
    <string>Exo 2</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2013/04/26 10:48:50</string>
    <key>openTypeHheaAscender</key>
    <integer>999</integer>
    <key>openTypeHheaDescender</key>
    <integer>-201</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Natanael Gama</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.ndiscovered.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://openfontlicense.org</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://openfontlicense.org</string>
    <key>openTypeNameManufacturer</key>
    <string>Natanael Gama</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.ndiscovered.com</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Regular</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>999</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-201</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1158</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>311</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-13</integer>
      <integer>0</integer>
      <integer>487</integer>
      <integer>500</integer>
      <integer>517</integer>
      <integer>530</integer>
      <integer>690</integer>
      <integer>703</integer>
    </array>
    <key>postscriptFontName</key>
    <string>Exo2-Regular</string>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-216</integer>
      <integer>-201</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>86</integer>
      <integer>90</integer>
      <integer>88</integer>
      <integer>92</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>62</integer>
      <integer>62</integer>
      <integer>68</integer>
      <integer>68</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-75</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>10</integer>
    <key>xHeight</key>
    <integer>487</integer>
  </dict>
</plist>
