<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>G</key>
    <string>G_.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>u1FA9D</key>
    <string>u1F_A_9D_.glif</string>
    <key>uni00B5</key>
    <string>uni00B_5.glif</string>
    <key>uni0259</key>
    <string>uni0259.glif</string>
    <key>uni03BC</key>
    <string>uni03B_C_.glif</string>
    <key>uni0401</key>
    <string>uni0401.glif</string>
    <key>uni0404</key>
    <string>uni0404.glif</string>
    <key>uni0407</key>
    <string>uni0407.glif</string>
    <key>uni0416</key>
    <string>uni0416.glif</string>
    <key>uni0417</key>
    <string>uni0417.glif</string>
    <key>uni0418</key>
    <string>uni0418.glif</string>
    <key>uni041A</key>
    <string>uni041A_.glif</string>
    <key>uni042F</key>
    <string>uni042F_.glif</string>
    <key>uni0431</key>
    <string>uni0431.glif</string>
    <key>uni0434</key>
    <string>uni0434.glif</string>
    <key>uni0436</key>
    <string>uni0436.glif</string>
    <key>uni0437</key>
    <string>uni0437.glif</string>
    <key>uni043B</key>
    <string>uni043B_.glif</string>
    <key>uni044F</key>
    <string>uni044F_.glif</string>
    <key>uni0452</key>
    <string>uni0452.glif</string>
    <key>uni0454</key>
    <string>uni0454.glif</string>
    <key>uni046A</key>
    <string>uni046A_.glif</string>
    <key>uni0474</key>
    <string>uni0474.glif</string>
    <key>uni0475</key>
    <string>uni0475.glif</string>
    <key>uni048A</key>
    <string>uni048A_.glif</string>
    <key>uni0490</key>
    <string>uni0490.glif</string>
    <key>uni0491</key>
    <string>uni0491.glif</string>
    <key>uni049E</key>
    <string>uni049E_.glif</string>
    <key>uni04A8</key>
    <string>uni04A_8.glif</string>
    <key>uni04B6</key>
    <string>uni04B_6.glif</string>
    <key>uni04BA</key>
    <string>uni04B_A_.glif</string>
    <key>uni04C3</key>
    <string>uni04C_3.glif</string>
    <key>uni04D2</key>
    <string>uni04D_2.glif</string>
    <key>uni04D8</key>
    <string>uni04D_8.glif</string>
    <key>uni04E0</key>
    <string>uni04E_0.glif</string>
    <key>uni04FA</key>
    <string>uni04F_A_.glif</string>
    <key>uni1E9E</key>
    <string>uni1E_9E_.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
